/*Quadrado que esta escrito cadastro
#cadastro_td {
    background-color: #E0F8E0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

table {
    border: 2px solid black;
    width: 30%;
    background-color: darkolivegreen;
}

tr {
    border: 1px solid blue;
}
    */

table{
    border: 2px solid;
    height: 100px;
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
}

#cadastro_td{
    font-size: 50px;
    text-align: center;
    height: 100px;
    padding: 20px;
}

td{
    border: 1px solid;
    padding: 5px;
}