body{
    background-color: antiquewhite;
}

table{
    font-style: italic;
    background-color: #4CAF50;
    color: #9C27B0;
    font-size: 24px;
    border: 2px solid #388E3C;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    border-collapse: collapse;
}

#cadastro_th{
    font-size: 50px;
    text-align: center;
    padding: 15px;
    color: #9C27B0;
}

td{
    padding: 5px;
    vertical-align: middle;
    display:flex;
}

input{
    width: 70%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #AB47BC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background 0.3s ease;
    cursor: pointer;
}

input[name="enviar"]:hover{
    background-color: #FF9800;
}