<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC - Índice de Massa Corporal</title>
    <link rel="stylesheet" type="text/css" href="/static/imc.css">
</head>

<body>

    <div class="div_principal">
        <header>Um Peso uma Medida
        </header>
        <p>Você esta acima do peso?
        <p>Realize o teste aqui!!!</p>

        <form method="get">
            <table>
                <th>Consultar IMC</th>

                <tr>
                    <td>Nome:<input type=text name="nome" maxlength="40" placeholder="Digite seu nome"></td>
                </tr>

                <tr>
                    <td>Idade:<input type=number name="idade" maxlength="3" placeholder="Digite sua idade"></td>
                </tr>

                <tr>
                    <td>Peso:<input type="text" name="peso" maxlength="3" placeholder="Digite seu peso"></td>
                </tr>

                <tr>
                    <td>Altura:<input type="text" name="altura" maxlength="4" placeholder="Digite sua altura"></td>
                </tr>

                <tr>
                    <td><input class="botao_enviar" type="submit" name="botao_enviar" value="Enviar Formulário">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input class="botao_limpar" type="reset" value="Limpar">
                    </td>
                </tr>
        </form>
        </table>
    </div>

    <!--
    <div class="icone_imagem">
            <img src="/imagem/icone.jpg" class="tamanho_imagem">
        </div>
-->
</body>

</html>